<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Dashboard</title>
		<link rel="stylesheet" href="app.css" />
	</head>
	<body>
		<div id="app"><%- reactOutput %></div>
		<script src="app.js"></script>
	</body>
</html>